<h1 align = 'center'>My Orders</h1>
<center>
  <% @orders.each do |order| %>
    <section id="orders-<%= order.id %>">
      <%= link_to order.id, "/profile/orders/#{order.id}" %>
      <p>Shipping info: <%= order.address.nickname %></p>
        <p><%= order.address.address %></p>
      <p>Created On: <%= order.created_at %></p>
      <p>Updated On: <%= order.updated_at %></p>
      <p>Status: <%= order.status %></p>
      <p><%= order.count_of_items %> items</p>
      <p>Total: <%= number_to_currency(order.grand_total) %></p>
    </section>
  <% end %>
</center>
