<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

<ul>
    <% @user.addresses.each do |address| %>
      <li><%= address.nickname %></li>
      <li><%= address.name %></li>
      <li><%= address.address %>,</li>
      <li><%= address.city%>, <%= address.state %> <%= address.zip %></li>
    <% end %>
</ul>
