<h1><%= @user.name %></h1>
<p><%= @user.email %></p>

    <% @user.addresses.each do |address| %>
      <section class="addresses-<%= address.id %>">
          <p>Nickname: <%= address.nickname %></p>
          <p>Name: <%= address.name %></p>
          <p>Address: <%= address.address %>,</p>
          <p>City, State, Zip: <%= address.city%>, <%= address.state %> <%= address.zip %></p>
          <p><%= link_to "Edit", edit_user_address_path(@user.id, address.id) %></p>
          <p><%= link_to "Delete", "/users/#{@user.id}/addresses/#{address.id}", method: :delete %></p>
      </section>
    <% end %>
