<center>
  <%= render 'address' %>
  <p><%= link_to "Add New Address", new_user_address_path(@user.id) %></p>
  <p><%= link_to 'Edit Profile', '/profile/edit' %></p>
  <p><%= link_to 'Change Password', '/profile/edit_password' %></p>
  <p><%= link_to 'My Orders', '/profile/orders' %></p>
</center>
